*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0e0e0e;
}

    header{
        border: 1px solid red;

        width: 100%;
        background-color: #1a1a1a;
        color: white;
        text-align: center;
        padding: 1em 0;
    }

    .inter{
        display: flex;
        flex-direction: row;
    }

        nav{
            padding: 2%;
            width: 20%;
            background-color: #1a1a1a;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            nav h3{
                font-size: 2em;
            }

            nav ul{
                list-style-type: none;
                text-align: center;
            }
                nav a {
                    display: block;
                    padding: 10px 20px;
                    margin: 5px 0;
                    background-color: #555; /* Couleur de fond du bouton */
                    color: white; /* Couleur du texte */
                    text-align: center;
                    text-decoration: none; /* Supprime la décoration de texte par défaut (soulignement) */
                    border-radius: 5px; /* Bords arrondis */
                    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
                }

                nav a:hover {
                    background-color: #777; /* Couleur de fond au survol */
                }

        main{
            display: flex;
            flex-direction: column;
            padding: 2%;
            width: 80%;
            text-align: center;
        }

            .space1{
                height: 3%;
                border: 1px solid blue;
            }

            .crea0{
                color: white;
                padding: 2%;
            }
            .crea0 h2{
                text-align: center;
                padding: 2%;
            }

            .step{
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: center;
             }
                .step ul{
                    width: 80%;
                    list-style-type: none;
                    padding: 2%;
                }
                    .step h3{
                        text-align: left;
                    }
                    .step p{
                        text-align: justify;
                    }

                    .toggle-checkbox{
                        display: none;
                    }
                    .toggle-title {
                        margin-top: 20px; /* Ajoute un espace au-dessus de chaque titre */
                        margin-bottom: 10px; /* Ajoute un espace en dessous de chaque titre */
                        display: block;
                    }
                    .toggle-title:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .toggle-content {
                        display: none;
                        margin-top: 10px;
                    }
                    .toggle-checkbox:checked + .toggle-title {
                        text-decoration: underline;
                    }
                    .toggle-checkbox:checked + .toggle-title + .toggle-content {
                        display: block;
                    }


           
    footer{
        display:flex;
        width: 100%;
        justify-content: center;
        border:1px solid brown;
        background: #1a1a1a;
        padding: 2%;
        color: white;
    }

        footer a{
            text-decoration: none;
        }
        footer a:hover{
            text-decoration: underline;
        }
        .telmail{
            width: 30%;
            text-align: center;
            color: white;
        }
        .reseaux {
            width: 30%;
            text-align: center;
            color:white ;
        }
            .resicon {
                padding: 2%;
                width: 15%; /* Ajustez la taille selon vos besoins */
                vertical-align: middle; /* Aligne verticalement les icônes avec le texte */
                transition: filter 0.3s ease; /* Transition pour l'effet au survol */
            }

            .resicon:hover {
                filter: brightness(1.5); /* Éclaircit l'icône au survol */
            }
