*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: black;
}

    header{
        border: 1px solid red;

        width: 100%;
        background-color: rgba(255, 255, 255, 0.03);
        color: white;
        text-align: center;
        padding: 1em 0;
    }

    .inter{
        display: flex;
        flex-direction: row;
    }

        nav{
            padding: 2%;
            width: 20%;
            background-color: rgba(255, 255, 255, 0.03);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            nav ul{
                list-style-type: none;
                text-align: center;
            }
            nav a{
                text-decoration: none;
            }
            nav a:hover {
                text-decoration: underline;
            }

        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            width: 80%;
            text-align: center;
        }
            .space1{
                border: 1px solid blue;
                height: 20%;
                width: 100%;
            }
            .con2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

                .con2 a{
                    text-decoration: none;
                }
                .con2 a:hover{
                    text-decoration: underline;
                }
                .mail{
                    width: 50%;
                }

                .tel{
                    width: 50%
                }

    footer{
        display:flex;
        width: 100%;
        justify-content: center;
        border:1px solid brown;
        background: rgba(245, 245, 245, 0.03);
        padding: 2%;
        color: white;
    }
        footer a{
            text-decoration: none;
        }
        footer a:hover{
            text-decoration: underline;
        }
        .telmail{
            width: 30%;
            text-align: center;
            color: white;
        }
        .reseaux {
            width: 30%;
            text-align: center;
            color:white ;
        }
