*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0e0e0e;
}

    header{
        border: 1px solid red;

        width: 100%;
        background-color: #1a1a1a;
        color: white;
        text-align: center;
        padding: 1em 0;
    }

    .inter{
        display: flex;
        flex-direction: row;
    }

        nav{
            padding: 2%;
            width: 20%;
            background-color: #1a1a1a;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            nav h3{
                font-size: 2em;
            }

            nav ul{
                list-style-type: none;
                text-align: center;
            }
                nav a {
                    display: block;
                    padding: 10px 20px;
                    margin: 5px 0;
                    background-color: #555; /* Couleur de fond du bouton */
                    color: white; /* Couleur du texte */
                    text-align: center;
                    text-decoration: none; /* Supprime la décoration de texte par défaut (soulignement) */
                    border-radius: 5px; /* Bords arrondis */
                    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
                }

                nav a:hover {
                    background-color: #777; /* Couleur de fond au survol */
                }

        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            width: 80%;
            text-align: center;
        }
            .space1{
                border: 1px solid blue;
                height: 20%;
                width: 100%;
            }
            .con2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

                .con2 a{
                    text-decoration: none;
                }
                .con2 a:hover{
                    text-decoration: underline;
                }
                .mail{
                    width: 50%;
                }

                .tel{
                    width: 50%
                }

    footer{
        display:flex;
        width: 100%;
        justify-content: center;
        border:1px solid brown;
        background: #1a1a1a;
        padding: 2%;
        color: white;
    }
        footer a{
            text-decoration: none;
        }
        footer a:hover{
            text-decoration: underline;
        }
        .telmail{
            width: 30%;
            text-align: center;
            color: white;
        }
        .reseaux {
            width: 30%;
            text-align: center;
            color:white ;
        }
            .resicon {
                padding: 2%;
                width: 15%; /* Ajustez la taille selon vos besoins */
                vertical-align: middle; /* Aligne verticalement les icônes avec le texte */
                transition: filter 0.3s ease; /* Transition pour l'effet au survol */
            }

            .resicon:hover {
                filter: brightness(1.5); /* Éclaircit l'icône au survol */
            }
